body {
  background-color: #FC80A5;
  background-repeat: repeat;
}

#main {
  width: 80%;
  max-width: 90vw;
  border: 0.5vw #FFD0B9 solid;
  margin: auto;
  padding: 2vw;
  font-family: 'PT Mono', monospace;
  font-size: 4vw;
  background-color: #33CC99;
  color: #1A1110;
  border-radius: 2vw;
}

#header {
  margin-top: 0;
  border: 2vw solid #FF6EFF;
  padding: 3vw;
  height: 20vh;
  background-color: #FF8833;
  background-repeat: repeat;
  font-family: 'PT Sans', sans-serif;
  font-size: 5vw;
  color: #FF4466;
}

h2 {
  clear: both;
  padding-top: 4vw;
  font-family: 'PT Serif', sans-serif;
  font-size: 6vw;
  color: #FFF700;
}

button {
  width: 30vw;
  margin-top: 4vw;
  font-family: 'PT Mono', monospace;
  font-size: 8vw;
  background-color: #FF007C;
  color: #FEFEFA;
  cursor: pointer;
}

label {
  display: block;
}

input {
  width: 4vw;
  margin-left: 4vw;
}

#answer {
  margin: 4vw;
  padding: 4vw;
  background-color: #FC80A5;
  align-items: center;
}

#image {
  width: 100%;
}

#prediction {
  font-family: 'PT Sans', sans-serif;
  font-size: 7vw;
  color: #FF8833;
  background-color: #FEFEFA;
  text-align: center;
}

.range {
  width: 64vw;
  margin-left: 4vw;
}

.calendar {
  width: 32vw;
  margin-left: 8vw;
}
