* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: white;
}

.list-container {
    margin-top: 50%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 50px 0 0 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: white;
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 75%;
}

.modal-column {
  float: left;
  width: 50%;
}

.modal-column img {
  vertical-align: top;
}

.close {
  color: black;
  position: absolute;
  top: 50px;
  right: 50px;
  /*font-size: 35px;
  font-weight: bold;*/
  font-family: 'PT Serif', sans-serif;
  font-size: 25px;
}

.close:hover {
  background: black;
  color: white;
}

.cursor {
  cursor: pointer;
}

.title-container {
  cursor: default;
  text-align: center;
  color: black;
  font-family: 'PT Serif', sans-serif;
  font-size: 70px;
}

.caption-container {
  cursor: default;
  text-align: center;
  padding: 10px 10px;
  color: black;
  font-family: 'PT Serif', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.text-container {
  cursor: default;
  text-align: left;
  padding: 10px 30px;
  color: black;
  font-family: 'PT Serif', sans-serif;
}

.hidden {
  color: white;
}

.hidden:hover {
  color: black;
}

#menu {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

#menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: 'PT Serif', sans-serif;
  font-size: 15px;
}

#menu a:hover {
  background: black;
  color: white;
}

#main {
  margin-top: 39px;
}

#blocked {
  display: none;
  position: fixed;
  z-index: 101;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: white;
}

#message {
  cursor: default;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  white-space: normal;
  text-align: center;
  font-family: 'PT Serif', sans-serif;
  font-size: 20px;
  background-color: white;
  color: black;
}

@media only screen and (max-width: 1280px) {
  #blocked {
    display: block;
  }
  body {
    overflow-y: hidden;
  }
}
