body {
  margin: 0;
  background-image: url(img/logo_pink.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  background-color: #4fd8ff;
}

#top ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff6998;
    position: fixed;
    top: 0;
    width: 100%;
}

#top li {
  float: left;
}

#top li a {
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#top li a:hover:not(.unselectable) {
  background-color: #4fd8ff;
}

#top .unselectable {
  background-color: white;
}

#clock {
  display: block;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Serif', sans-serif;
}

#title {
  display: block;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Serif', sans-serif;
}

#expand {
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  display: none;
}

#randomize {
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  display: none;
}

#close {
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  display: none;
}

#bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ff6998;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#bottom li {
  float: left;
}

#bottom li a, .dropbtn {
  cursor: pointer;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#bottom li a:hover, .dropup:hover .dropbtn {
  background-color: #4fd8ff;
}

#bottom li.dropup {
  position: relative;
  display: inline-block;
}

#bottom .dropup-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  bottom: 48px;
  z-index: 1;
}

#bottom .dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#bottom .dropup-content a:hover {
  background-color: #ff6998;
  color: white;
}

#bottom .dropup:hover .dropup-content {
  display: block;
}

#side {
  position: absolute;
  z-index: 1;
  top: 30%;
  left: 80%;
}

#sideheader {
  cursor: move;
  z-index: 2;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#side ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
}

#side li a {
  cursor: pointer;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#side li a.active {
  background-color: #ff6998;
  color: white;
}

#side li a:hover:not(.active) {
  background-color: #4fd8ff;
  color: white;
}

#photo {
  position: absolute;
  z-index: 3;
  top: 20%;
  left: 20%;
  display: none;
}

#photoheader {
  cursor: move;
  z-index: 4;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#photo img {
  vertical-align: top;
  height: 500px;
}

#video {
  position: absolute;
  z-index: 5;
  top: 40%;
  left: 40%;
  display: none;
}

#videoheader {
  cursor: move;
  z-index: 6;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#video iframe {
  vertical-align: top;
}

#music {
  position: absolute;
  z-index: 7;
  top: 50%;
  left: 60%;
  display: none;
}

#musicheader {
  cursor: move;
  z-index: 8;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#music iframe {
  vertical-align: top;
}

#text {
  position: absolute;
  z-index: 9;
  top: 10%;
  left: 20%;
  display: none;
}

#textheader {
  cursor: move;
  z-index: 10;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#text textarea {
  vertical-align: top;
  height: 150px;
  width: 250px;
  resize: none;
  font-family: 'PT Serif', sans-serif;
  font-size: 11pt;
  padding: 8px 16px;
  border: none;
  outline: none;
}
