body {
  margin: 0;
  background-image: url(img/logo_pink.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  background-color: #4fd8ff;
}

#top {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff6998;
    position: fixed;
    top: 0;
    width: 100%;
    height: 30px;
}

#bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ff6998;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#bottom li {
  float: left;
}

#bottom li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#bottom li a:hover, .dropup:hover .dropbtn {
  background-color: #4fd8ff;
}

#bottom li.dropup {
  position: relative;
  display: inline-block;
}

#bottom .dropup-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  bottom: 48px;
  z-index: 1;
}

#bottom .dropup-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#bottom .dropup-content a:hover {
  background-color: #ff6998;
  color: white;
}

#bottom .dropup:hover .dropup-content {
  display: block;
}

#side {
  position: absolute;
  z-index: 9;
  top: 30%;
  right: 10%;
}

#sideheader {
  cursor: move;
  z-index: 10;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#side ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
}

#side li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#side li a.active {
  background-color: #ff6998;
  color: white;
}

#side li a:hover:not(.active) {
  background-color: #4fd8ff;
  color: white;
}

#photo {
  position: absolute;
  z-index: 11;
  top: 20%;
  left: 20%;
  display: none;
}

#photoheader {
  cursor: move;
  z-index: 12;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#photo img {
  height: 500px;
}

#video {
  position: absolute;
  z-index: 13;
  top: 40%;
  left: 40%;
  display: none;
}

#videoheader {
  cursor: move;
  z-index: 14;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}
