html, body {
  margin: 0;
  height: 100%;
  background-image: url(img/logo_pink.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: auto;
  background-color: #4fd8ff;
}

#top ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ff6998;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

#top li {
  float: left;
}

#top li a, .dropbtn {
  cursor: pointer;
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#top li a:hover:not(.unselectable), .dropdown:hover .dropbtn {
  color: white;
  background-color: #4fd8ff;
}

#top li.dropdown {
  position: relative;
  display: inline-block;
}

#top .unselectable {
  cursor: default;
  background-color: white;
}

#top .dropdown-content {
  display: none;
  position: fixed;
  top: 34px;
  right: 0px;
  z-index: 1;
}

#top .dropdown-content table {
  cursor: default;
  color: black;
  background-color: white;
  padding: 12px 16px;
  text-align: right;
  text-decoration: none;
  font-family: 'PT Serif', sans-serif;
  border: none;
  outline: none;
}

#top .dropdown-content textarea {
  cursor: default;
  vertical-align: top;
  resize: none;
  height: 100px;
  width: 250px;
  font-family: 'PT Serif', sans-serif;
  padding: 12px 16px;
  border: none;
  outline: none;
}

#top td:hover:not(.empty) {
  background-color: black;
  color: white;
}

#top .dropdown:hover .dropdown-content {
  display: block;
}

#clock {
  cursor: default;
  display: block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Serif', sans-serif;
}

#title {
  display: block;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Serif', sans-serif;
}

#expand {
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  display: none;
}

#randomize {
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  display: none;
}

#close {
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  display: none;
}

#bottom ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #ff6998;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

#bottom li {
  float: left;
}

#bottom li a, .dropbtn {
  cursor: default;
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#bottom li a:hover, .dropup:hover .dropbtn {
  background-color: #4fd8ff;
}

#bottom li.dropup {
  position: relative;
  display: inline-block;
}

#bottom .dropup-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  bottom: 48px;
  z-index: 1;
}

#bottom .dropup-content a {
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

#bottom .dropup-content a:hover {
  background-color: #ff6998;
  color: white;
}

#bottom .dropup:hover .dropup-content {
  display: block;
}

#side {
  position: absolute;
  z-index: 2;
  top: 30%;
  left: 80%;
}

#sideheader {
  cursor: move;
  z-index: 3;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#side ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: white;
}

#side li a {
  cursor: pointer;
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#side li a.active {
  background-color: #ff6998;
  color: white;
}

#side li a:hover:not(.active) {
  background-color: #4fd8ff;
  color: white;
}

#photo {
  position: absolute;
  z-index: 4;
  top: 20%;
  left: 20%;
  display: none;
}

#photoheader {
  cursor: move;
  z-index: 5;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#photo img {
  cursor: pointer;
  vertical-align: top;
  height: 600px;
}

#photoexpand {
  display: none;
}

#photoexpand img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#video {
  position: absolute;
  z-index: 6;
  top: 40%;
  left: 40%;
  display: none;
}

#videoheader {
  cursor: move;
  z-index: 7;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#video iframe {
  vertical-align: top;
  resize: both;
}

#music {
  position: absolute;
  z-index: 8;
  top: 50%;
  left: 60%;
  display: none;
}

#musicheader {
  cursor: move;
  z-index: 9;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#music iframe {
  vertical-align: top;
}

#text {
  position: absolute;
  z-index: 10;
  top: 10%;
  left: 20%;
  display: none;
}

#textheader {
  cursor: move;
  z-index: 11;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#text textarea {
  cursor: pointer;
  vertical-align: top;
  height: 150px;
  width: 250px;
  resize: none;
  font-family: 'PT Serif', sans-serif;
  font-size: 11pt;
  padding: 8px 16px;
  border: none;
  outline: none;
}

#textexpand {
  display: none;
}

#textexpand textarea {
  cursor: pointer;
  position: absolute;
  height: 500px;
  width: 1000px;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -500px;
  resize: none;
  font-family: 'PT Serif', sans-serif;
  font-size: 50pt;
  padding: 8px 16px;
  border: none;
  outline: none;
}

#calculator {
  position: absolute;
  z-index: 12;
  top: 15%;
  left: 50%;
  display: none;
}

#calculatorheader {
  cursor: move;
  z-index: 13;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#calculatorcontainer{
  position: relative;
  width: 340px;
  margin: 0px auto;
  padding: 10px 10px 10px 10px;
  background-color: white;
}

input[type=button] {
  width: 20%;
  font-size: 20px;
  font-weight: 900;
  margin-left: 13px;
  margin-top: 10px;
  border: none;
  outline: none;
  color: white;
  background: #4fd8ff;
  font-family: 'PT Sans', sans-serif;
}

input[type=button]:hover {
  background-color: #ff6998;
}

input[type = text] {
  position: relative;
  display: block;
  width: 90%;
  margin: 5px auto;
  font-size: 20px;
  padding: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #ff6998;
  font-weight: bold;
  font-family: 'PT Sans', sans-serif;
}

#browser {
  position: absolute;
  z-index: 14;
  top: 20%;
  left: 40%;
  display: none;
}

#browserheader {
  cursor: move;
  z-index: 15;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#browser iframe {
  vertical-align: top;
}

#paint {
  position: absolute;
  z-index: 16;
  top: 10%;
  left: 10%;
  background-color: white;
  display: none;
}

#paintheader {
  cursor: move;
  z-index: 17;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#canvas {
  display: inline-block;
  cursor: default;
  vertical-align: top;
}

#clear {
  background-color: #4fd8ff;
  color: white;
  padding: 10px;
  width: 175px;
  text-align: center;
  margin: 10px auto;
  cursor: pointer;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#clear:hover {
  background-color: #ff6998;
}

#palette {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.palettecolor {
  width: 30px;
  height: 30px;
  display: inline-block;
  padding: 1px;
  cursor: pointer;
  border: solid 1px black;
  float: left;
  margin: 0 5px;
}

.palettecolor:hover {
  border: solid 1px white;
}

#word {
  position: absolute;
  z-index: 18;
  top: 30%;
  left: 35%;
  background-color: white;
  display: none;
}

#wordheader {
  cursor: move;
  z-index: 19;
  background-color: #ff6998;
  color: white;
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#word textarea {
  vertical-align: top;
  min-height: 500px;
  min-width: 350px;
  resize: both;
  font-family: 'PT Serif', sans-serif;
  font-size: 18pt;
  padding: 8px 16px;
  border: none;
  outline: none;
}

#wordcontrol {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#word .dropbtn {
  cursor: default;
  display: block;
  color: white;
  background-color: #4fd8ff;
  width: 100px;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#word .dropdown {
  position: relative;
  display: inline-block;
}

#word .dropdown-content {
  display: none;
  position: absolute;
  width: 100px;
  z-index: 1;
}

#word .dropdown-content a {
  display: block;
  cursor: pointer;
  color: black;
  background-color: white;
  text-align: center;
  width: 100px;
  padding: 7px 8px;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
}

#word .dropdown:hover .dropdown-content {
  display: block;
}

#word .dropdown-content a:hover {
  background-color: #ff6998;
  color: white;
}
