* {box-sizing: border-box}
body {font-family: 'PT Serif', sans-serif; margin:0}
.mySlides1 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  padding: 50px 0px;
  width: 1000px;
  height: 758px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-size: 15px;
  user-select: none;
  font-family: 'PT Serif', sans-serif;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: black;
}

/* Caption text */
.text-header {
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 58px;
  width: 100%;
  text-align: center;
  font-family: 'PT Serif', sans-serif;
}

.text-container {
  display: none;
  cursor: default;
  text-align: left;
  padding: 10px 30px;
  color: black;
  font-family: 'PT Serif', sans-serif;
}

.close {
  display: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 58px;
  width: 100%;
  text-align: center;
  font-family: 'PT Serif', sans-serif;
}

.close:hover {
  color: black;
}

.title {
  cursor: default;
  text-align: center;
  padding: 150px 0px 50px 0px;
  color: black;
  font-family: 'PT Serif', sans-serif;
  font-size: 70px;
}

#menu {
  z-index: 100;
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}

#menu a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
  font-family: 'PT Serif', sans-serif;
  font-size: 15px;
}

#menu a:hover {
  background: black;
  color: white;
}

#main {
  margin-top: 39px;
}
