body {
  background-image: url('vertical.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#title {
  cursor: default;
  display: block;
  max-width: 75%;
  white-space: nowrap;
  font-family: 'PT Sans', sans-serif;
  font-size: 30vh;
}

.link {
  z-index: 2;
  cursor: pointer;
  margin: 0;
  display: block;
  max-width: 50%;
  background: white;
  color: black;
  text-align: center;
  padding: 10vh 10vh;
  text-decoration: none;
  font-family: 'PT Sans', sans-serif;
  font-size: 10vh;
}

.link:hover {
  background: black;
  color: white;
}

::-moz-selection {
  color: white;
  background: black;
}

::selection {
  color: white;
  background: black;
}
